<center class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h5 class="text-danger">You do not have permission to view this resource</h5>
    <img src="~/img/accessdenied.png" style="height:300px; width:300px" />
</center>