<div class="text-center">
    <h1 class="text-danger">404/500 Error</h1>
    <h6 class="text-danger">Page Was Not Found <br />OR<br />Unable to Login User</h6>
    <img src="~/images/404.png" style="height:300px; width:400px" />
</div>