<center class="text-center">
    <h1 class="text-dark">404</h1>
    <h5 class="text-dark">The page requested can not be found.</h5>
    <img src="~/img/accessdenied.png" style="height:300px; width:300px" />
</center>