@{
    ViewData["Title"] = "Contact Us";
}

<div class="titlecontainercontact">
    <h1>@ViewData["Title"]</h1>
</div>

<p>
    We are here to help you with any questions or concerns you may have. Please feel free to contact our Customer Support team
    at the numbers listed below. As well, we have experienced experts who can help you with your other banking and financial needs.
    Their contact information is below.
</p>

<table style="width:100%; z-index:1; background-color:lightgray" border=1 cellpadding="10">
    <tr>
        <td> 888-4-SCOTIA  </td>


        <td>
            (888-472-6842) Toll free from anywhere in Jamaica
        </td>
    </tr>
    <tr>
        <td>
            1-866-767-2010
        </td>
        <td>
            Toll free from USA and Canada
        </td>
    </tr>
    <tr>
        <td>
            0-800-587-2010
        </td>
        <td>
            Toll free from the UK
        </td>
    </tr>
    <tr>
        <td>
            876-960-2675
        </td>
        <td>
            Other overseas locations. (Long distance charges apply)
        </td>
    </tr>
    <tr>
        <td>
            876-960-2675
        </td>
        <td>
            Kingston Corporate Area
        </td>
    </tr>
    <tr>
        <td>
            0-800-847-2911
        </td>
        <td>
            Visa Toll Free Number (international)
        </td>
    </tr>
</table>