@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="titlecontainerprivacy">
    <h1>@ViewData["Title"]</h1>
</div>

<br />

<p>
    Scotiabank is committed to keeping your personal information confidential and secure. <br />
    The following links explain how Scotiabank protects the privacy of customer information <br />
    in your respective country:

    <h6> Privacy Agreement</h6>

    "Personal Information” or “information” includes information about an identifiable individual, such as contact information, <br />
    financial and account information, age and gender, identification numbers,  income and employment information.<br />
    This may include information provided by the individual or collected by Scotiabank from the use of its products and services,<br />
    third parties or public sources, and includes information in any format, including digital formats.
    <br /> <br />

    <i><b> How we Use and Disclose Your Information </b></i> <br />

    We may collect your Personal Information, and use it and disclose it to any person or <br />
    organization, including any member of Scotiabank, for the following purposes:

    <ul>
        <li>
            To confirm your identity;
        </li>
        <li>
            To determine the suitability of our Services for you;
        </li>
        <li>
            To set up, manage and offer Services that meet your needs;
        </li>
        <li>
            To provide you with various options for applying for and accessing Services;
        </li>
        <li>
            To manage and assess our risks;
        </li>
    </ul>
    <br />

    <i><b> Third Party Service Providers </b></i> <br />
    We do not provide directly all the Services related to your relationship with us. We may use third party service providers (including affiliates) <br />
    to process or handle Personal Information on our behalf and to assist us with various services such as printing,<br />
    postal and electronic mail distribution, data processing and analytics, marketing (including by telephone and electronic means), <br />
    and providing customer support and you acknowledge and agree that we can release personal information about you to them. <br />

    When Personal Information is provided to third parties, Scotiabank will take the necessary measures <br />
    to protect the Personal Information they receive from us in a manner that is consistent with our policies <br />
    and practices, and that such information will only be used for its identified purposes.

</p>